<div class="container-fluid">
    <div class="row row-eq-spacing-lg">
        <div class="col-lg-12">
            <div class="content">
                <h2 class="content-title">
                    <i class="fas fa-ban"></i>
                    <?= Lang::str("IP tools dashboard"); ?>
                    <a href="#">#</a>
                </h2>

                <a href="access/ips" class="btn"><?= Lang::str("IP hits") ?></a>
                <a href="access/ip_ban" class="btn"><?= Lang::str("IP bans overview") ?></a>
                <a href="access/banv4" class="btn"><?= Lang::str("Ban IPv4") ?></a>
            </div>
        </div>
    </div>
</div>