<div class="container-fluid">
    <div class="row row-eq-spacing-lg">
        <div class="col-lg-12">
            <div class="content">
                <h2 class="content-title">
                    <i class="fas fa-ban"></i>
                    <?= Lang::str("IP tools - Bans"); ?>
                    <a href="#">#</a>
                </h2>
                <?php
                var_dump($ips_count);
                $pages = ( $ips_count / 1000) + 1;
                var_dump($pages);
                ?>
                <?php for ($i = 0; $i < $pages; $i++) : ?>
                    <a href="access/ip_ban/offset/<?= $i * 1000 ?>"><?= $i ?></a>
                <?php endfor; ?>


                <div class = "table-container">
                    <table class = "table">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($ips[0]) as $thead) :
                                    ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($ips as $universal) : ?>
                                <tr>
                                    <?php foreach ($universal as $key => $cell) : ?>
                                        <?php if ($key == "id") : ?>
                                            <th><a href="access/ip_ban/<?= $universal['id'] ?>"><?= $cell ?></a></th>
                                        <?php else : ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>

                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>