<div class="container-fluid">
    <div class="row row-eq-spacing-lg">
        <div class="col-lg-12">
            <div class="content">
                <h2 class="content-title">
                    <i class="fas fa-ban"></i>
                    <?= Lang::str("IP tools - hits"); ?>
                    <a href="#">#</a>
                </h2>

                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($ips[0]) as $thead) : ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($ips as $universal) : ?>
                                <tr>
                                    <?php foreach ($universal as $key => $cell) : ?>
                                        <td><?= is_array($cell) ? json_encode($cell) : $cell ?></td>

                                    <?php endforeach; ?>
                            <form method="POST" action="access/ips/ban">
                                <input type="hidden" name="IP" value="<?= $universal['IP'] ?>">
                                <td><input type="submit" class="btn btn-sm btn-danger" value="<?= Lang::str("Ban") ?>" /></td>
                            </form>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>