<form method="POST"
      >
    <label>from IP</label>
    <input type="text" required name="from" required/>
    <label>to IP</label>
    <input type="text" required name="to" />
    <textarea name="internal_note">Internal note</textarea>
    <textarea name="visible_note">Your IP has been banned</textarea>
    <label>ban wxpire</label>
    <input type="text" name="ban_expire" value="2037-01-01 00:00:00" />
    <label>Allow write ticket</label>
    <input type="number" min="0" max="1" value="0" name="allow_write_ticket" />
    <input type="submit" value="Ban" />
</form>
