<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Annoucement view"); ?>
        </h1>

        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-wrench"></i>
                        <?= Lang::str("Edit"); ?>
                    </h2>
                    <form method="POST" >
                        <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                        <div class="control">
                            <label class="label"><?= Lang::str("Created"); ?>:</label>
                            <input type="text" class="form-control" name="created" required="required" disabled value="<?= $annoucement['annoucement_created'] ?>">
                        </div>
                        <div class="control">
                            <label class="label"><?= Lang::str("Title"); ?>:</label>
                            <input type="text" class="form-control" name="title" placeholder="Title" required="required" value="<?= $annoucement['annoucement_name'] ?>">
                        </div>
                        <div class="form-group">
                            <label for="type" class=""><?= Lang::str("Type"); ?>:</label>
                            <select class="form-control" id="type" name="type" required="required" disabled>
                                <option value="info" <?= $annoucement['annoucement_type'] == "info" ? "selected" : "" ?>><?= Lang::str("Information"); ?></option>
                                <option value="update-log" <?= $annoucement['annoucement_type'] == "update-log" ? "selected" : "" ?>><?= Lang::str("Update log"); ?></option>
                                <option value="annoucement" <?= $annoucement['annoucement_type'] == "annoucement" ? "selected" : "" ?>><?= Lang::str("Annoucement"); ?></option>
                            </select>
                            <div class="form-text">
                                <?= Lang::str("Information"); ?> - <?= Lang::str("Display understand/not understand button"); ?>
                                <br><?= Lang::str("Update log"); ?> - <?= Lang::str("Display only read button"); ?>
                                <br><?= Lang::str("Annoucement"); ?> - <?= Lang::str("Display accept"); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-switch">
                                <input type="checkbox" id="prevent-actions" name="prevent-actions" <?= $annoucement['annoucement_prevent_actions'] ? "checked" : "" ?>>
                                <label for="prevent-actions"><?= Lang::str("Prevent all actions until accept"); ?></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-switch">
                                <input type="checkbox" id="display_creator" name="display_creator" <?= $annoucement['annoucement_display_owner'] ? "checked" : "" ?>>
                                <label for="display_creator"><?= Lang::str("Display annoucement creator"); ?></label>
                            </div>
                        </div>

                        <label class="label"><?= Lang::str("Text") ?>:</label>
                        <div class="control">
                            <textarea class="textarea form-control" name="text" id="annoucement_text"><?= $annoucement['annoucement_text'] ?></textarea>
                        </div>
                        <div class = "form-text">
                            <? = Lang::str("Please note that this text is not translated -> if you assign multiple users always use language that all of them will understand - english is good always");
                            ?>
                        </div>
                        </p>
                        <div class="text-right mt-20">

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-users"></i>
                        <?= Lang::str("Assigned users"); ?>
                    </h2>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><?= Lang::str("User") ?></th>
                                    <th><?= Lang::str("Status") ?></th>
                                    <th><?= Lang::str("Last change") ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($assigned as $usr) : ?>
                                    <tr>
                                        <td>
                                            <?= ($usr['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $usr['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                            <a href="departments-users/<?= $usr['user_internal_id'] ?>/profile"><?= $usr['login_name'] ?></a>
                                            <small>(<?= $usr['nickname'] ?>)</small>
                                        </td>
                                        <td class="
                                        <?php if ($usr['annoucement_status'] == "new"): ?>
                                                text-primary
                                            <?php elseif ($usr['annoucement_status'] == "rejected"): ?>
                                                text-danger
                                            <?php elseif ($usr['annoucement_status'] == "accepted"): ?>
                                                text-success
                                            <?php endif; ?>
                                            "><?= $usr['annoucement_status'] ?></td>
                                        <td><?= $usr['annoucement_update_time'] ?></td>
                                        <?php if ($usr['annoucement_status'] == "new"): ?>
                                            <td>
                                                <a href="annoucementsAdmin/<?= $URL_params[0] ?>/removeUser/<?= $usr['annoucement_user_id'] ?>"
                                                   class="btn btn-sm btn-danger">
                                                       <?= Lang::str("remove") ?>
                                                </a>
                                            </td>
                                        <?php endif; ?>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary btn-sm" onclick="halfmoon.toggleModal('add-user')">
                        <?= Lang::str("Add user to this annoucement"); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="add-user" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="POST" action="annoucementsAdmin/<?= $URL_params[0] ?>/addUser">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <h5 class="modal-title"><?= Lang::str("Add user"); ?></h5>
                <select class="form-control" name="users[]" required multiple size="5">
                    <option value="" selected="selected" disabled="disabled">Select</option>
                    <?php foreach ($users as $user): ?>
                        <option value="<?= $user['user_internal_id'] ?>"><?= $user['login_name'] ?>
                            <?= $user['disabled_account'] ? " (disabled)" : "" ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <div class="text-right mt-20">
                    <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                    <input class="btn btn-success" data-dismiss="modal" type="submit" value="<?= Lang::str("Add") ?>" />
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="css/jodit.min.css">
<script src="js/jodit.min.js"></script>
<script>
                        var editor = new Jodit("textarea[id=annoucement_text]");
</script>