<div class="container-fluid">

    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Annoucements admin"); ?>
        </h1>
        <div class="card">
            <?php if ($can_create_new) : ?>
                <button onclick="halfmoon.toggleModal('create-annoucement')" class="btn btn-success btn-sm">
                    <?= Lang::str("Create") ?>
                </button>
            <?php endif; ?>
            <?php if ($can_view_all) : ?>
                <a href="annoucementsAdmin/all" class="btn btn-primary btn-sm float-right">
                    <?= Lang::str("View All") ?>
                </a>
            <?php endif; ?>
            <div class="table-responsive" style="min-height: 250px">
                <table class="table">
                    <thead>
                        <tr>
                            <th><?= Lang::str("Title") ?></th>
                            <th><?= Lang::str("Owner") ?></th>
                            <th><?= Lang::str("Assigned") ?></th>
                            <th><?= Lang::str("Type") ?></th>
                            <th><?= Lang::str("Created") ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($annoucements as $u) : ?>
                            <tr class="">
                                <td><a href="annoucementsAdmin/<?= $u['annoucement_id'] ?>">
                                        <?= $u['annoucement_name'] ?>
                                    </a></td>
                                <td>
                                    <?= ($u['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                    <a href="admin/<?= $u['user_internal_id'] ?>"><?= $u['login_name'] ?></a>
                                    <small>(<?= $u['nickname'] ?>)</small>
                                </td>
                                <td>
                                    <div class="dropdown toggle-on-hover">

                                        <i class="fas fa-info-circle ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
                                            <?= count($u['assigned']) ?>
                                        </i>

                                        <div class="dropdown-menu w-250 w-sm-350 dropdown-menu-right">
                                            <div class="dropdown-content p-20">
                                                <b><?= Lang::str("Assigned users"); ?>:</b><br /><br />
                                                <?php foreach ($u['assigned'] as $user) : ?>
                                                    <?= ($user['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $user['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                                    <a href="admin/<?= $user['user_internal_id'] ?>"><?= $user['login_name'] ?></a>
                                                    <small>(<?= $user['nickname'] ?>)</small> -
                                                    <span class="
                                                    <?php if ($user['annoucement_status'] == "new"): ?>
                                                              text-primary
                                                          <?php elseif ($user['annoucement_status'] == "rejected"): ?>
                                                              text-danger
                                                          <?php elseif ($user['annoucement_status'] == "accepted"): ?>
                                                              text-success
                                                          <?php endif; ?>
                                                          "><?= $user['annoucement_status'] ?>
                                                    </span>
                                                    <br />
                                                <?php endforeach; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><?= $u['annoucement_type'] ?></td>
                                <td><?= $u['annoucement_created'] ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<?php if ($can_create_new) : ?>
    <div class="modal" id="create-annoucement" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" >
            <div class="modal-content" style="
                 min-width: 75vw;
                 ">
                <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><?= Lang::str("Create new annoucement"); ?></h5>
                <p>
                <form method="POST" action="annoucementsAdmin/create">
                    <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                    <div class="control">
                        <label class="label required"><?= Lang::str("Title"); ?>:</label>
                        <input type="text" class="form-control" name="title" placeholder="Title" required="required">
                    </div>
                    <div class="form-group">
                        <label for="type" class="required"><?= Lang::str("Type"); ?></label>
                        <select class="form-control" id="type" name="type" required="required">
                            <option value="" selected="selected" disabled="disabled"><?= Lang::str("Select type") ?></option>
                            <option value="info"><?= Lang::str("Information"); ?></option>
                            <option value="update-log"><?= Lang::str("Update log"); ?></option>
                            <option value="annoucement"><?= Lang::str("Annoucement"); ?></option>
                        </select>
                        <div class="form-text">
                            <?= Lang::str("Information"); ?> - <?= Lang::str("Display only read button"); ?>
                            <br><?= Lang::str("Update log"); ?> - <?= Lang::str("Display only read button"); ?>
                            <br><?= Lang::str("Annoucement"); ?> - <?= Lang::str("Display accept/reject button"); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-switch">
                            <input type="checkbox" id="prevent-actions" checked name="prevent-actions">
                            <label for="prevent-actions"><?= Lang::str("Prevent all actions until accept"); ?></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-switch">
                            <input type="checkbox" id="display_creator" name="display_creator">
                            <label for="display_creator"><?= Lang::str("Display annoucement creator"); ?></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="users" class="required"><?= Lang::str("Asigned users"); ?></label>
                        <select class="form-control" id="users" name="users[]" multiple="multiple" required="required" size="5">
                            <?php foreach ($all_users as $u) : ?>
                                <?php
                                if ($u['disabled_account'])
                                    continue;
                                ?>
                                <option value="<?= $u['user_internal_id'] ?>"><?= $u['login_name'] ?> (<?= $u['nickname'] ?>)</option>
                            <?php endforeach;
                            ?>
                        </select>
                    </div>
                    <label class="label required"><?= Lang::str("Text") ?>:</label>
                    <div class="control">
                        <textarea class="textarea form-control" name="text" id="annoucement_text"></textarea>
                    </div>
                    <div class="form-text">
                        <?= Lang::str("Please note that this text is not translated -> if you assign multiple users always use language that all of them will understand - english is good always"); ?>
                    </div>
                    </p>
                    <div class="text-right mt-20">
                        <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                        <input type="submit" class="btn btn-success" type="button" value="<?= Lang::str("Create new"); ?>" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="css/jodit.min.css">
    <script src="js/jodit.min.js"></script>
    <script>
                    var editor = new Jodit("textarea[id=annoucement_text]");
    </script>
<?php endif; ?>