<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Announcements"); ?>
    </h2>
    <?php if (count($annoucements) > 0): ?>
        <?php foreach ($annoucements as $key => $an): ?>
            <details class="collapse-panel  mt-20" open>
                <summary class="collapse-header text-center <?= $an['annoucement_prevent_actions'] ? "bg-danger" : "" ?>">
                    <strong><?= $an['annoucement_name'] ?></strong>
                </summary>
                <div class="collapse-content">
                    <?php if ($an['annoucement_prevent_actions']): ?>
                        <span class="badge badge-secondary float-right"><?= Lang::str("This announcement is preveting you to do any action. You have to read it and accept it!") ?></span><br /><br />
                    <?php endif; ?>
                    <?= $_annoucements[$key]['annoucement_text'] ?>
                    <div class="float-right">
                        <form method = "POST" action = "announcement/<?= $an['annoucement_id'] ?>">
                            <input type = "hidden" name = "csrf" value = "<?= $csrf ?>">
                            <?php if ($an['annoucement_type'] == "annoucement"): ?>
                                <input type="submit" class="btn btn-success" name="accept"
                                       value="<?= Lang::str("I have read and understand") ?>">
                                   <?php elseif ($an['annoucement_type'] == "update-log"): ?>
                                <input type="submit" class="btn btn-success" name="accept"
                                       value="<?= Lang::str("I have read") ?>">
                                   <?php else: ?>
                                <input type="submit" class="btn btn-success" name="accept"
                                       value="<?= Lang::str("I understand") ?>">
                                <input type="submit" class="btn btn-danger" name="reject"
                                       value="<?= Lang::str("I do not understand") ?>">
                                   <?php endif; ?>
                        </form>
                    </div>
                </div>
            </details>
        <?php endforeach;
        ?>
    <?php else: ?>
        <span class="badge badge-secondary"><?= Lang::str("There is no announcement that you have to read"); ?></span>
    <?php endif; ?>
</div>