<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Cron deamon overview") ?>
    </h2>
    <?php if ($is_cron_enabled): ?>
        <span class="badge badge-success"><?= Lang::str("Cron deamon is running") ?></span>
    <?php else: ?>
        <span class="badge badge-danger"><?= Lang::str("Cron deamon is restricted to high priority tasks! Others may not be completed!") ?></span>
    <?php endif; ?>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Next 20 sheduled task") ?>
                </h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?= Lang::str("Name") ?></th>
                                <th><?= Lang::str("Task id") ?></th>
                                <th><?= Lang::str("Status") ?></th>
                                <th><?= Lang::str("Priority") ?></th>
                                <th><?= Lang::str("Queued by") ?></th>
                                <th><?= Lang::str("Due date") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($queue as $u) : ?>
                                <tr class="<?= strtotime($u['task_due']) < time() ? "table-danger" : "" ?>">
                                    <th>
                                        <a href="tech-admin/deamon/queue/<?= $u['queue_id'] ?>">
                                            <?= $u['task_name'] ?>
                                        </a>
                                    </th>
                                    <td><a href="tech-admin/deamon/tasks/<?= $u['task_id'] ?>">
                                            <?= $u['task_id'] ?>
                                        </a></td>
                                    <td>new</td>
                                    <td><?= $u['task_priority'] ?></td>
                                    <td>
                                        <?= ($u['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                        <a href="admin/<?= $u['user_internal_id'] ?>"><?= $u['login_name'] ?></a>
                                        <small>(<?= $u['nickname'] ?>)</small>
                                    </td>
                                    <td><?= $u['task_due'] ?></td>
                                </tr>
                            <?php endforeach;
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Available tasks") ?>
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?= Lang::str("Name") ?></th>
                                <th><?= Lang::str("Priority") ?></th>
                                <th><?= Lang::str("Repeat") ?></th>
                                <th><?= Lang::str("Est. lengt") ?></th>

                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($tasks as $u) : ?>
                                <tr class="<?= $u['task_enabled'] ? "" : "table-danger" ?>">
                                    <th>
                                        <a href="tech-admin/deamon/tasks/<?= $u['task_id'] ?>">
                                            <?= $u['task_name'] ?>
                                        </a>
                                    </th>
                                    <td><?= $u['task_default_priority'] ?></td>
                                    <td><?= $u['task_repeat'] ?></td>
                                    <td><?= $u['task_long'] ?></td>
                                </tr>
                            <?php endforeach;
                            ?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Last tasks") ?>
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?= Lang::str("Name") ?></th>
                                <th><?= Lang::str("Task id") ?></th>
                                <th><?= Lang::str("Status") ?></th>
                                <th><?= Lang::str("Priority") ?></th>
                                <th><?= Lang::str("Queued by") ?></th>
                                <th><?= Lang::str("Cempleted") ?></th>
                                <th><?= Lang::str("Message") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($queue_past as $u) : ?>
                                <tr>
                                    <th>
                                        <a href="tech-admin/deamon/queue/<?= $u['queue_id'] ?>">
                                            <?= $u['task_name'] ?>
                                        </a>
                                    </th>
                                    <td><a href="tech-admin/deamon/tasks/<?= $u['task_id'] ?>">
                                            <?= $u['task_id'] ?>
                                        </a></td>
                                    <?php if ($u['task_status'] == 1): ?>
                                        <td class="text-primary"><?= Lang::str("Running") ?></td>
                                    <?php elseif ($u['task_status'] == 2): ?>
                                        <td class="text-success"><?= Lang::str("Completed") ?></td>
                                    <?php elseif ($u['task_status'] == 3): ?>
                                        <td class="text-danger"><?= Lang::str("Error") ?></td>
                                    <?php elseif ($u['task_status'] == 4): ?>
                                        <td class="text-secondary"><?= Lang::str("Aborted") ?></td>
                                    <?php else : ?>
                                        <td><?= $u['task_status'] ?></td>
                                    <?php endif; ?>
                                    <td><?= $u['task_priority'] ?></td>
                                    <td>
                                        <?= ($u['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                        <a href="admin/<?= $u['user_internal_id'] ?>"><?= $u['login_name'] ?></a>
                                        <small>(<?= $u['nickname'] ?>)</small>
                                    </td>
                                    <td><?= $u['task_completed'] ?></td>
                                    <?php
                                    $msg = json_decode(str_replace('&quot;', '"', $u['task_data']), true);
                                    ?>
                                    <td><?= $msg['end_msg'] ?></td>

                                </tr>
                            <?php endforeach;
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
