<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Cron deamon - task overview") ?>
    </h2>
    <a class="btn btn-secondary btn-sm" href="tech-admin/deamon"><?= Lang::str("Go back") ?></a>
    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Task edit") ?>
                </h2>
                <?php require "universalViewItem.phtml" ?>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Actions") ?>
                </h2>
                <span class="badge badge-primary my-20 font-size-16"><?= Lang::str("Only for emergency cases!") ?></span>
                <span class="badge badge-danger my-20 font-size-16"><?= Lang::str("If you touch it immidiatelly contact developer!") ?></span><br/>
                <a class="btn btn-primary btn-sm" href="tech-admin/deamon/tasks/<?= $URL_params[1] ?>/queue-now"><?= Lang::str("Add to queue now") ?></a>
                <a class="btn btn-danger btn-sm my-20" href="tech-admin/deamon/tasks/<?= $URL_params[1] ?>/abort-all"><?= Lang::str("Remove all from queue") ?></a>
            </div>
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Task queue") ?>
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?= Lang::str("Name") ?></th>
                                <th><?= Lang::str("Task id") ?></th>
                                <th><?= Lang::str("Status") ?></th>
                                <th><?= Lang::str("Priority") ?></th>
                                <th><?= Lang::str("Queued by") ?></th>
                                <th><?= Lang::str("Due date") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($queue as $u) : ?>
                                <tr class="<?= (strtotime($u['task_due']) < time() && $u['task_status'] == 0) ? "table-danger" : "" ?>">
                                    <th>
                                        <a href="tech-admin/deamon/queue/<?= $u['queue_id'] ?>">
                                            <?= $u['task_name'] ?>
                                        </a>
                                    </th>
                                    <td><a href="tech-admin/deamon/tasks/<?= $u['task_id'] ?>">
                                            <?= $u['task_id'] ?>
                                        </a></td>
                                    <?php if ($u['task_status'] == 1): ?>
                                        <td class="text-primary"><?= Lang::str("Running") ?></td>
                                    <?php elseif ($u['task_status'] == 2): ?>
                                        <td class="text-success"><?= Lang::str("Completed") ?></td>
                                    <?php elseif ($u['task_status'] == 3): ?>
                                        <td class="text-danger"><?= Lang::str("Error") ?></td>
                                    <?php elseif ($u['task_status'] == 4): ?>
                                        <td class="text-secondary"><?= Lang::str("Aborted") ?></td>
                                    <?php elseif ($u['task_status'] == 0): ?>
                                        <td class="text-muted"><?= Lang::str("New") ?></td>
                                    <?php else: ?>
                                        <td><?= $u['task_status'] ?></td>
                                    <?php endif; ?>
                                    <td><?= $u['task_priority'] ?></td>
                                    <td>
                                        <?= ($u['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                        <a href="admin/<?= $u['user_internal_id'] ?>"><?= $u['login_name'] ?></a>
                                        <small>(<?= $u['nickname'] ?>)</small>
                                    </td>
                                    <td><?= $u['task_due'] ?></td>

                                </tr>
                            <?php endforeach;
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
