<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Cron deamon - queue overview") ?>
    </h2>
    <div class="card">
        <h2 class="card-title">

        </h2>
        <?= var_dump($data) ?>
    </div>
</div>
