<div class="card">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><?= $error_name ?></h4>
        <?= $_error_text ?>
    </div>
    <br />
    <div class="alert" role="alert">

        <?php foreach ($error_messages as $m) : ?>
            <strong class="text-danger"><?= $m ?></strong>
        <?php endforeach; ?>

        <?php if (!isset($banned_ip)) : ?>
            <p><?= Lang::str("You can go back to any last page"); ?>:</p>
            <p>
                <span>
                    <?= Lang::str("Back to"); ?> <a href="dashBoard"><?= Lang::str("dashboard"); ?></a>
                </span>
                <br />
                <?php for ($i = 1; $i < 6; $i++) : ?>
                    <span>
                        <?= Lang::str("Back to"); ?> <a href="<?= $_SESSION['temp']['last_pages'][$i] ?>"><?= $_SESSION['temp']['last_pages'][$i] ?></a>
                    </span>
                    <br />
                <?php endfor; ?>

            </p>
            <p>
                <span>
                    <?= Lang::str("Report to admin"); ?> - <a href="https://<?= SUPPORTSERVER ?>/new/bug/<?= APPCODE ?>"><?= Lang::str("Support system"); ?></a>
                </span>
            </p>
        <?php endif; ?>
        <?php if (isset($banned_ip) && $banned_ip['allow_write_ticket']) : ?>
            <p>
                <span>
                    <?= Lang::str("Report wrong ban to admin"); ?> - <a href="https://<?= SUPPORTSERVER ?>/new/ban_appeal/<?= APPCODE ?>"><?= Lang::str("Support system"); ?></a>
                </span>
            </p>
        <?php endif; ?>
    </div>
</div>