<div class="d-flex justify-content-center">
    <span class="badge badge-secondary"><?= Lang::str("This and any referenced sites may use cookies and local browser memory for operational purporoses. (For example: store that you are logged in, prefered theme and others.)"); ?></span>
</div>
<div class="row">
    <div class="col-sm-10 col-md-5 col-lg-4 offset-sm-1 offset-md-4 offset-lg-4">
        <div class="card">
            <h2 class="card-title text-center">
                <?= $app_name ?>
            </h2>
            <h2 class="card-title"><?= Lang::str("Password restore"); ?></h2>
            <?php if ($local_login == 1): ?>
                <p>
                <form action="password-restore/user-reset" method="POST" class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                    <div class="form-group">
                        <label for="username" class="required">Username</label>
                        <input type="text" class="form-control" name="username" id="username" autofocus autocomplete placeholder="Username" required="required">

                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="<?= Lang::str("Request password restore"); ?>">

                </form>
                </p>

            <?php endif; ?>
            <?php if ($ldap_login == 1): ?>
                <a href="login/ldap/<?= $redirect ?>" class="btn btn-secondary my-10" type="button"><?= Lang::str("Log in via LDAP"); ?></a>
            <?php endif; ?>
            <?php if ($google_login == 1): ?>
                <div class="g-signin2 " data-onsuccess="onSignIn" data-theme="dark"></div>
            <?php endif; ?>
            <?php if ($can_register == 1): ?>
                <div class="dropdown-divider"></div>
                <a href="register" class="dropdown-item text-center">Don't have an account? Sign up</a>
            <?php endif; ?>
        </div>
    </div>
</div>