<div class="d-flex justify-content-center">
    <span class="badge badge-secondary"><?= Lang::str("This and any referenced sites may use cookies and local browser memory for operational purporoses. (For example: store that you are logged in, prefered theme and others.)"); ?></span>
</div>
<div class="row">
    <div class="col-sm-10 col-md-5 col-lg-4 offset-sm-1 offset-md-4 offset-lg-4">
        <div class="card">
            <h2 class="card-title text-center">
                <?= Lang::str("Change password"); ?>
            </h2>


            <p>
            <form  method="POST">
                <div class="form-group">
                    <label for="password-again" class="required"><?= Lang::str("Password"); ?></label>
                    <input type="password" name="password-again" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <label for="password" class="required"><?= Lang::str("Password again"); ?></label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                </div>
                </p>
                <div class="text-right mt-20">

                    <input type="submit" class="btn btn-success" data-dismiss="modal" type="button" value="<?= Lang::str("Confirm"); ?>"/>
            </form>
        </div>
    </div>
</div>