<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Profile"); ?>
        </h1>
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-edit"></i>
                        <?= Lang::str("Personal informations"); ?>
                    </h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="user_id"><?= Lang::str("User id"); ?></label>
                                <input type="number" class="form-control" id="user_id" value="<?= $user['user_internal_id'] ?>">
                            </div>
                            <div class="form-group">
                                <label for="user_portal_id"><?= Lang::str("User portal id"); ?></label>
                                <input type="number" class="form-control" id="user_portal_id" value="<?= $user['user_portal_id'] ?>">
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <?= Lang::str("Avatar"); ?>
                            <img
                                src="<?= $user['avatar'] ?>" class="img-fluid m-10 pr-20" alt="User avatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_name"><?= Lang::str("Username"); ?></label>
                        <input required type="text" class="form-control" id="login_name" readonly value="<?= $user['login_name'] ?>">
                    </div>
                    <?php if ($user['origin'] == "ldap") : ?>
                        <div class="form-group">
                            <label ><?= Lang::str("Email"); ?>l</label>
                            <input class="form-control" type="email" required  value="<?= $user['mail'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Nickname"); ?></label>
                            <input class="form-control" name="nickname" required type="text" value="<?= $user['nickname'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Locale"); ?></label>
                            <input class="form-control" name="locale" required type="text" value="<?= $user['locale'] ?>">
                        </div>
                        <span class="badge"><?= Lang::str("Personal info can be chnage only on portal!"); ?></span>
                    <?php else: ?>
                        <form method="POST" action="profile/update_profile">
                            <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                            <div class="form-group required">
                                <label ><?= Lang::str("Email"); ?>l</label>
                                <input class="form-control" required type="email" name="email" required  value="<?= $user['mail'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Nickname"); ?></label>
                                <input class="form-control" required name="nickname" type="text" value="<?= $user['nickname'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Locale"); ?></label>
                                <input class="form-control" required name="locale" required type="text" value="<?= $user['locale'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Real name"); ?></label>
                                <input class="form-control" required name="real_name"  type="text" value="<?= $user_data['real_name'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Telephone"); ?></label>
                                <input class="form-control"  required name="phone"  type="tel" value="<?= $user_data['phone'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Address"); ?></label>
                                <input class="form-control"  required name="address"  type="text" value="<?= $user_data['address'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Country"); ?></label>
                                <input class="form-control"  required name="country"  type="text" value="<?= $user_data['country'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("City"); ?></label>
                                <input class="form-control"  required name="city"  type="text" value="<?= $user_data['city'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Company"); ?></label>
                                <input class="form-control" name="company"  type="text" value="<?= $user_data['company'] ?>">
                            </div>
                            <div class="form-group required">
                                <label class="label"><?= Lang::str("Gender"); ?></label>
                                <input class="form-control"  required name="gender"  type="text" value="<?= $user_data['gender'] ?>">
                            </div>
                            <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Save") ?>" />
                        </form>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col-lg-6">
                <?php if (USINGDEPARTMENTS) : ?>
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-sliders-h"></i>
                            <?= Lang::str("Your departments"); ?>
                            <span class="float-right"><button class="btn-sm btn btn-primary"onclick="halfmoon.toggleModal('heads')" id="view_heads"><?= Lang::str("View heads"); ?></button></span>
                        </h2>
                        <div class="table-responsive">
                            <table class="table table-hover">

                                <tbody>
                                    <?php foreach ($departemnts as $dep) : ?>
                                        <tr>
                                            <td>
                                                <strong><?= $dep['department_name'] ?></strong>
                                                <small>(<?= $dep['department_code'] ?>)</small>

                                            </td>
                                            <td>
                                                <?= $roles[$dep['user_role']] ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-list"></i>
                        <?= Lang::str("Actions"); ?>
                    </h2>

                    <button class="btn btn-primary btn-sm" onclick="halfmoon.toggleModal('change-password')">
                        <i class="fas fa-key" aria-hidden="true"></i>
                        <?= Lang::str("Change password"); ?>
                    </button>
                    <?php if ($user['user_portal_id'] > 0): ?>
                        <a href="profile/logout-everywhere" class="btn btn-danger btn-sm" ><i class="fas fa-eraser"></i> <?= Lang::str("Log out from all apps"); ?></a>
                    <?php endif; ?>
                </div>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("My rights"); ?>
                    </h2>
                    <div class="form-group">
                        <label class="label"><?= Lang::str("Role"); ?></label>
                        <select class="form-control" id="admin_level" name="admin_level">
                            <option value="0"  <?= ($user['admin_level'] == 0 ? "selected" : "") ?>><?= Lang::str("Guest") ?></option>
                            <option value="1"  <?= ($user['admin_level'] == 1 ? "selected" : "") ?>><?= Lang::str("Member") ?></option>
                            <option value="2"  <?= ($user['admin_level'] == 2 ? "selected" : "") ?>><?= Lang::str("Admin") ?></option>
                            <option value="3"  <?= ($user['admin_level'] == 3 ? "selected" : "") ?>><?= Lang::str("Head") ?></option>
                            <option value="4"  <?= ($user['admin_level'] > 3 ? "selected" : "") ?>><?= Lang::str("Developer") ?></option>
                        </select>

                    </div>
                    <span class="badge"><?= Lang::str("Admin level can be changed now only in LDAP"); ?></span>
                    <br />
                    <?php foreach ($user['rights']['admin'] as $key => $value) : ?>
                        <label class="checkbox">
                            <strong><?= $key ?></strong>
                            <?php foreach ($value as $key1 => $value1) : ?>
                                <label class="checkbox">
                                    <input type="checkbox"
                                    <?php if ($value1 > 0) : ?>
                                               checked
                                           <?php endif; ?>

                                           name="admin::<? = $key ?>::<?= $key1 ?>">
                                           <?= $key1 ?>
                                </label>

                            <?php endforeach; ?>
                            <br />
                        </label>
                        <br />
                    <?php endforeach; ?>

                    <span class="badge"><?= Lang::str("Do you thing that you don´t have right that you need? Ask your supervisor/admin/developer!"); ?></span>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    <?= Lang::str("Active sessions"); ?>
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><?= Lang::str("Action"); ?></th>
                                <th><?= Lang::str("Token"); ?></th>
                                <th><?= Lang::str("Expire"); ?></th>
                                <th><?= Lang::str("Created"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($sessions as $sess) :
                                ?>
                                <tr>
                                    <?php foreach ($sess as $key => $cell) : ?>
                                        <?php if ($key === "sess_id") : ?>
                                            <th><a href="profile/disable_session/<?= $cell ?>"><?= Lang::str("Kill session") ?></a></th>
                                        <?php elseif ($key === "sess_token") : ?>
                                            <td><?= substr($cell, 0, 7); ?>
                                                <?php if ($cell == $_COOKIE[SESSIONID]) : ?>
                                                    <span class="badge badge-success"><?= " " . Lang::str("Actual") ?></span>
                                                <?php endif; ?>

                                            </td>
                                        <?php elseif ($key === "sess_expire") : ?>
                                            <td><?= date("Y-m-d H:i:s", $cell) ?></td>
                                        <?php elseif ($key === "sess_created") : ?>
                                            <td><?= $cell ?></td>

                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <span class="badge"><?= Lang::str("Here you can see your active sessions."); ?></span>
                <span class="badge badge-primary"><?= Lang::str("Any suspicious session? Contact admin imidiatelly!"); ?></span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="heads" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Department heads</h5>

            <p>
                <?= Lang::str("The following users are heads of departments that you are in. They have access to view and change your profile data and they can change your apps rights. Also they can reset your password.") ?>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <?php foreach ($staff['heads'] as $key => $u) : ?>
                            <tr>
                                <th><?= $u['login_name']
                            ?></th>
                            </tr>
                            <?php $used[] = $key; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            </p>
            <p>
                <?= Lang::str("The following users are admins of departments that you are in. They have access to view and change your rights. ") ?>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <?php foreach ($staff['admins'] as $key => $u) : ?>
                            <?php if (in_array($key, $used)) continue; ?>
                            <tr>
                                <th><?= $u['login_name']
                            ?></th>
                            </tr>
                            <?php $used[] = $key; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            </p>
            <p>
                <?= Lang::str("In addition to this, some users have full access to your data for operational purposes.") ?>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <?php foreach ($staff['others'] as $key => $u) : ?>
                            <?php if (in_array($key, $used)) continue; ?>
                            <tr>
                                <th><?= $u['login_name']
                            ?></th>
                            </tr>
                            <?php $used[] = $key; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            </p>
            <div class = "text-right mt-20">
                <button class = "btn mr-5" data-dismiss = "modal" type = "button"><?= Lang::str("Close"); ?></button>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="change-password" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title"><?= Lang::str("Change password"); ?></h5>
            <p>
            <form action="profile/change-password" method="POST">
                <div class="form-group">
                    <label for="password-again" class="required"><?= Lang::str("Password"); ?></label>
                    <input type="password" name="password-again" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <label for="password" class="required"><?= Lang::str("Password again"); ?></label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                </div>
                </p>
                <div class="text-right mt-20">
                    <button class="btn mr-5" data-dismiss="modal" type="button"><?= Lang::str("Close"); ?></button>
                    <input type="submit" class="btn btn-success" data-dismiss="modal" type="button" value="<?= Lang::str("Confirm"); ?>"/>
            </form>
        </div>
    </div>
</div>
</div>