<?php foreach ($rights as $key => $value) : ?>
    <label class="checkbox">
        <strong><?= $key ?></strong>
        <?php foreach ($value as $key1 => $val) : ?>
            <label class="checkbox" data-toggle="tooltip" data-title="<?= $val['visible_name'] ?> - <?= $val['description'] ?>">
                <input type="checkbox"
                <?php if ($val['value'] > 0) : ?>
                           checked
                       <?php endif; ?>
                       name="admin::<?= $val['name'] ?>::<?= $val['sub_right'] ?>"
                       <?php if ($val['granteable'] == 0 && $only_granteable) : ?>
                           disabled
                       <?php endif; ?>
                       >
                       <?= $val['sub_right'] ?>
            </label>
        <?php endforeach; ?>
        <br />
    </label>
    <br />
<?php endforeach; ?>