<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Server update") ?>
    </h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Versions files") ?>
                </h2>
                <a href="serverUpdate/full_export"
                   class="btn btn-primary btn-sm">
                       <?= Lang::str("Create full export"); ?>
                </a>
                <div class="table-responsive">
                    <table class="table table-inner-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><?= Lang::str("Name"); ?></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($files as $key => $file): ?>
                                <?php if (strlen($file) < 3) continue; ?>
                                <tr>
                                    <th><?= $key ?></th>
                                    <td><?= $file ?></td>
                                    <td>
                                        <a href="serverUpdate/createDiference/?q=<?= $file ?>"
                                           class="btn btn-secondary btn-sm">
                                               <?= Lang::str("Create diference"); ?>
                                        </a>
                                        <a href="serverUpdate/createFullQuery/?q=<?= $file ?>"
                                           class="btn btn-primary btn-sm">
                                            <?= Lang::str("Create sql query"); ?>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>