<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Server update") ?> - <?= Lang::str("version compare") ?>
        - <?= Lang::str("live") ?> != <?= $_GET['q'] ?>
    </h2>
    <div class="row">

        <?php foreach ($data as $key => $value): ?>
            <div class = "col-sm-6">
                <div class = "card">
                    <h2 class = "card-title">
                        <?= Lang::str($key) ?>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-inner-bordered">
                            <tbody>
                                <?php foreach ($value as $row_name => $row_data): ?>
                                    <tr>
                                        <th><?= $row_name ?></th>
                                        <td><?= json_encode($row_data) ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
        <a href="serverUpdate/createDiferenceQuery/?q=<?= $_GET['q'] ?>"
           class="btn btn-secondary btn-sm">
            <?= Lang::str("Create diference query"); ?></a>
    </div>
</div>