
<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Setting"); ?>
    </h2>
    <p>
        <a class="btn btn-secondary" href="settings"><?= Lang::str("Go back") ?></a>
        <?php require "universalViewItem.phtml" ?>
    </p>

</div>
