
<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Settings edit") ?>
    </h2>

    <form method="POST" action="settings/update">
        <input type="hidden" name="csrf" value="<?= $csrf ?>" />
        <input class="btn btn-success" type="submit" value="<?= Lang::str("Save") ?>">
        <?php foreach ($settings as $category) : ?>
            <div class="card">
                <h2 class="card-title">
                    <?= $category[0]['sett_category'] ?>
                </h2>
                <p>
                    <?php foreach ($category as $sett) : ?>
                    <div class="form-group">

                        <?php
                        switch ($sett['sett_type']) :
                            case 'bool':
                                ?>
                                <div class="custom-checkbox">
                                    <input type="checkbox" name="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                           id="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                           <?= $sett['sett_value'] ? " checked=\"checked\" " : "" ?>
                                           <?= $sett['sett_required_level'] > $user['admin_level'] ? " readonly disabled " : "" ?>/>
                                    <label for="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"><?= $sett['sett_visible_name'] == "" ? ($sett['sett_category'] . "::" . $sett['sett_key']) : $sett['sett_visible_name'] ?></label>
                                </div>
                                <?php break; ?>
                            <?php case 'int': ?>
                                <label for="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>">
                                    <?= $sett['sett_visible_name'] == "" ? ($sett['sett_category'] . "::" . $sett['sett_key']) : $sett['sett_visible_name'] ?></label>
                                <input type="number" step="1" class="form-control" name="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                       required="required" value="<?= $sett['sett_value'] ?>"
                                       <?= $sett['sett_required_level'] > $user['admin_level'] ? " readonly disabled " : "" ?>>
                                       <?php break; ?>
                                   <?php case 'uint': ?>
                                <label for="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>">
                                    <?= $sett['sett_visible_name'] == "" ? ($sett['sett_category'] . "::" . $sett['sett_key']) : $sett['sett_visible_name'] ?></label>
                                <input type="number" min="0" step="1" class="form-control" name="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                       required="required" value="<?= $sett['sett_value'] ?>"
                                       <?= $sett['sett_required_level'] > $user['admin_level'] ? " readonly disabled " : "" ?>>
                                       <?php break; ?>
                                   <?php case 'float': ?>
                                <label for="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>">
                                    <?= $sett['sett_visible_name'] == "" ? ($sett['sett_category'] . "::" . $sett['sett_key']) : $sett['sett_visible_name'] ?></label>
                                <input type="number" step="0.1" class="form-control" name="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                       required="required" value="<?= $sett['sett_value'] ?>"
                                       <?= $sett['sett_required_level'] > $user['admin_level'] ? " readonly disabled " : "" ?>>
                                       <?php break; ?>
                                   <?php default: ?>
                                <label for="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>">
                                    <?= $sett['sett_visible_name'] == "" ? ($sett['sett_category'] . "::" . $sett['sett_key']) : $sett['sett_visible_name'] ?></label>
                                <input type="text" class="form-control" name="<?= $sett['sett_category'] ?>::<?= $sett['sett_key'] ?>"
                                       required="required" value="<?= $sett['sett_value'] ?>"
                                       <?= $sett['sett_required_level'] > $user['admin_level'] ? " readonly disabled " : "" ?>>
                               <?php endswitch; ?>
                        <div class="text-right"> <!-- text-right = text-align: right -->
                            <a href="settings/<?= $sett['sett_id'] ?>" class="btn btn-sm">Edit</a>
                        </div>
                    </div>
                <?php endforeach; ?>
                </p>

            </div>
        <?php endforeach; ?>
        <input class="btn btn-success" type="submit" value="<?= Lang::str("Save") ?>">
    </form>


</div>