<!DOCTYPE html>
<html>

    <head>
        <base href="/<?= SESSIONDOMAIN ?>" />
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <!-- Chrome, Firefox OS and Opera mobile address bar theming -->
        <meta name="theme-color" content="#000000">
        <!-- Windows Phone mobile address bar theming -->
        <meta name="msapplication-navbutton-color" content="#000000">
        <!-- iOS Safari mobile address bar theming -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

        <!-- SEO -->
        <!--
        <meta name="description" content="Halfmoon is a responsive front-end framework, designed for quickly building beautiful dashboards and product pages. Built-in dark mode, optional JavaScript library (no jQuery), Bootstrap like classes, and cross-browser compatibility (including IE11).">
        <meta name="author" content="Halfmoon">
        <meta name="keywords" content="Halfmoon, HTML, CSS, JavaScript, CSS Framework, dark mode, dark-mode, darkmode, dark theme, dark-theme, darktheme, Bootstrap, Foundation, Bulma, dashboard, UI, UI framework, user interface, design, design system">

        <!-- Open graph -->
        <!--<meta property="fb:app_id" content="2560228000973437">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://www.gethalfmoon.com">
        <meta property="og:title" content="Halfmoon - Front-end framework with a built-in dark mode, designed for rapidly building beautiful dashboards and product pages">
        <meta property="og:description" content="Halfmoon is a responsive front-end framework, designed for quickly building beautiful dashboards and product pages. Built-in dark mode, optional JavaScript library (no jQuery), Bootstrap like classes, and cross-browser compatibility (including IE11).">
        <meta property="og:image" content="https://res.cloudinary.com/halfmoon-ui/image/upload/v1593528979/halfmoon-og-image_zl1bob.png">
        -->
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="<?= GOOGLELOGIN ?>">
        <!-- Fav and Title -->
        <link rel="icon" href="/images/favicon.ico">
        <title><?= $title ?></title>

        <!-- Halfmoon -->
        <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
        <!-- Google web fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <!-- Roboto font (Used when Apple system fonts are not available) -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- Font Avensome -->
        <script src="https://kit.fontawesome.com/1fc2f55abf.js" crossorigin="anonymous"></script>
    </head>

    <body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true" data-set-preferred-theme-onload="true">
        <!-- For right diplay of all modals - it must be put in this div-->
        <div id="modal_section"></div>

        <!-- Page wrapper start -->
        <div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="full-height overlayed-sm-and-down">

            <!-- Sticky alerts (for toasts only) -->
            <div class="sticky-alerts">
                <!-- Precompiled alert with a complex design -->
                <div class="alert alert-primary filled" role="alert" id="precompiled-alert-1">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="w-50 h-50 d-flex align-items-center rounded-circle bg-white"> <!-- w-50 = width: 5rem (50px), h-50 = height: 5rem (50px), d-flex = display: flex, align-items-center = align-items: center, rounded-circle = border-radius: 50%, bg-white = background-color: white -->
                                        <div class="m-auto text-primary"> <!-- m-auto = margin: auto, text-primary = color: primary-color -->
                                            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
                                            <span class="sr-only">Commenting</span> <!-- sr-only = only for screen readers -->
                                        </div>
                                    </div>
                                </td>
                                <td class="pl-20">
                                    <h4 class="alert-heading mb-5">New message!</h4> <!-- mb-5 = margin-bottom: 0.5rem (5px) -->
                                    <div>
                                        Jane Doe just sent you a new message.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Navbar start -->
            <nav class="navbar">

                <!-- Toogle Sidebar -->
                <div class="navbar-content">
                    <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()" >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>

                <!-- Notifications -->

                <div class="navbar-content">
                    <div class="dropdown toggle-on-hover" >
                        <button class="btn btn-action" data-count="<?= count($notifications) ?>" data-toggle="dropdown" type="button"  aria-haspopup="true" aria-expanded="false" >
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu w-300 w-sm-450 overflow-auto " style="max-height:75vh" >
                            <div class="dropdown-content p-0">
                                <?php foreach ($notifications as $notif) : ?>
                                    <div class="alert alert-<?= $notif['color'] ?>  w-500 mw-full mb-5" style="
                                         padding-bottom: 0;
                                         padding-top: 0;
                                         " role="alert">
                                        <div class="row align-items-center">
                                            <div class="col-2">
                                                <?php if ($notif['icon'] != null) : ?>
                                                    <div class="w-50 h-50 d-flex align-items-center rounded-circle bg-white">
                                                        <div class="m-auto text-dark">
                                                            <i class="<?= $notif['icon'] ?>"></i>
                                                        </div>
                                                    </div>
                                                <?php else : ?>
                                                    <div class="w-50 h-50">
                                                        <img src="<?= $notif['image'] ?>" alt="IMG" class="rounded-circle" style="max-width: 100%">
                                                    </div>
                                                <?php endif; ?>
                                                <small><?= $notif['name'] ?></small>
                                            </div>
                                            <div class="col-8 offset-1 py-10">
                                                <h4 class="alert-heading"><?= $notif['head'] ?></h4>
                                                <?= $notif['content'] ?>
                                            </div>
                                            <div class="col-1 text-light">
                                                <?php if ($notif['new']) : ?>
                                                    <p style="font-size: 0.85rem!important;
                                                       padding-bottom: 0px;
                                                       padding-top: 10%;
                                                       margin-bottom: 0;"> <span class="badge">NEW</span></p>
                                                   <?php endif; ?>
                                                <p style="font-size: 0.85rem!important;
                                                   padding-bottom: 0px;
                                                   padding-top: 90%;
                                                   margin-bottom: 0;"> <?= $notif['time_ago'] ?></p>
                                            </div>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                                <?php if (count($notifications) == 0) : ?>
                                    <span class="badge badge-secondary"><?= Lang::str("Nothing to display :-)"); ?></span>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END notifications -->
                <!--Ldap href-->

                <div class="navbar-content">
                    <a class="btn btn-action" type="button" href="https://<?= LDAPSERVER ?>">
                        <i class="fas fa-fingerprint" aria-hidden="true"></i>
                    </a>
                </div>

                <!-- Toogle darkmode -->

                <div class="navbar-content">
                    <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()" >
                        <i class="fa fa-moon-o" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- Navbar brand (home button with picture) -->
                <div class="navbar-content">
                    <a href="dashBoard" class="btn btn-action mr-5" type="button" >
                        <i class="fas fa-columns"></i>
                    </a>
                </div>

                <!-- Navbar nav -->
                <ul class="navbar-nav ml-auto">
                    <!--Menu dynamic section -->
                    <?php foreach ($MainMenu as $cat_key => $cat) : ?>
                        <?php if (count($cat) == 1) : ?>
                            <li class="nav-item hidden-sm-and-down <?= $cat[0]['is_active'] ?>">
                                <a href="<?= $cat[0]['href'] ?>" class="nav-link"><?= Lang::str($cat[0]['name']) ?></a>
                            </li>
                        <?php else: ?>
                            <li class="nav-item hidden-sm-and-down dropdown with-arrow toggle-on-hover <?= $cat[0]['is_active'] ?>">
                                <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
                                    <?= Lang::str($cat_key) ?>
                                    <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-link-dropdown-toggle">
                                    <?php foreach ($cat as $item) : ?>
                                        <a href="<?= $item['href'] ?>" class="dropdown-item"><?= Lang::str($item['name']) ?></a>
                                    <?php endforeach; ?>

                                </div>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <!-- END of dynamic menu section
                    <!--Menu application section -->

                    <?php if (isset($user['user_portal_id']) & $user['user_portal_id'] > 1) : ?>
                        <li class="nav-item hidden-sm-and-down dropdown with-arrow toggle-on-hover <?= $cat[0]['is_active'] ?>">
                            <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
                                <?= Lang::str("Applications") ?>
                                <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right overflow-auto" id="applications" aria-labelledby="nav-link-dropdown-toggle" style="max-height:75vh">
                                <?php if ($Applications != "Do via ajax") : ?>
                                    <?php foreach ($Applications as $cat) : ?>
                                        <h6 class="dropdown-header text-center"><strong>
                                                <span class="badge">
                                                    <?= $cat[0]['group_name'] ?>
                                                </span>
                                            </strong></h6>
                                        <div class="dropdown-divider"></div>
                                        <?php foreach ($cat as $item) : ?>
                                            <a href="<?= $item['url'] ?>" class="dropdown-item"><?= ($item['name']) ?></a>
                                        <?php endforeach; ?>
                                        <div class="dropdown-divider"></div>
                                    <?php endforeach; ?>
                                <?php else : ?>
                                    <script>document.addEventListener("DOMContentLoaded", function () {
                                            getApplications()
                                        });</script>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endif; ?>
                    <!-- END of menu applikaction section -->
                    <!--Profile section -->

                    <?php if (isset($user['login_name'])) : ?>
                        <li class="nav-item dropdown toggle-on-hover with-arrow">
                            <a class="nav-link" data-toggle="dropdown" type="button" id="sign-in-dropdown-toggle-btn" aria-haspopup="true" aria-expanded="false">
                                <img style="max-height: 40px"
                                     src="<?= $user['avatar'] ?>"
                                     class="img-fluid rounded-circle m-10" alt="rounded right image">
                                     <?= $user['login_name'] ?>
                                <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right w-250 w-sm-350 overflow-auto " style="max-height:65vh" aria-labelledby="sign-in-dropdown-toggle-btn">
                                <div class="dropdown-content p-20">

                                    <p><?= Lang::str("User nickname") ?>: <?= $user['nickname'] ?></p>
                                    <p><?= Lang::str("User mail") ?>: <?= $user['mail'] ?></p>
                                    <div class="text-right mt-10">
                                        <a href="profile"><?= Lang::str("Change profile") ?></a>
                                    </div>

                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="logout" class=" m-5 btn btn-danger  float-right"><?= Lang::str("Log out") ?></a>
                            </div>
                        </li>
                        <!-- END of profile section -->
                    <?php else : ?>

                        <!-- Log in section -->
                        <li class="nav-item dropdown toggle-on-hover with-arrow">
                            <a class="nav-link " data-toggle="dropdown" type="button" id="sign-in-dropdown-toggle-btn" aria-haspopup="true" aria-expanded="false">
                                <button class="btn btn-secondary">
                                    <?= Lang::str("Log in") ?>
                                    <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                                </button >
                            </a>
                            <div class="dropdown-menu dropdown-menu-right w-250 w-sm-350 overflow-auto" aria-labelledby="sign-in-dropdown-toggle-btn"
                                 style="max-height:65vh"                             >
                                <div class="dropdown-content p-20">

                                    <?php if ($local_login == 1): ?>
                                        <p>
                                        <form action="login/local" method="POST" class="w-400 mw-full">
                                            <div class="form-group">
                                                <label for="username" class="required">Username</label>
                                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required">

                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="required">Password</label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">

                                            </div>

                                            <input class="btn btn-primary btn-block" type="submit" value="<?= Lang::str("Log in"); ?>">

                                        </form>
                                        </p>
                                        <div class="text-right mt-10">
                                            <a href="password-restore"><?= Lang::str("Forgot password?"); ?></a>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($ldap_login == 1): ?>
                                        <a href="login/ldap" class="btn btn-secondary my-10" type="button"><?= Lang::str("Log in via LDAP"); ?></a>
                                    <?php endif; ?>
                                    <?php if ($google_login == 1): ?>
                                        <div class="g-signin2 " data-onsuccess="onSignIn" data-theme="dark"></div>
                                    <?php endif; ?>
                                    <?php if ($can_register == 1): ?>
                                        <div class="dropdown-divider"></div>
                                        <a href="register" class="dropdown-item text-center">Don't have an account? Sign up</a>
                                    <?php endif; ?>
                                </div>
                        </li>
                    <?php endif; ?>
                    <!-- END of login section -->

                </ul>
            </nav>

            <!-- Navbar end -->

            <!-- Sidebar overlay -->
            <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

            <!-- Sidebar start -->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <div class="sidebar-content">
                        <a href="<?= SettingsUtils::gI()->getSett("SYSTEM", "landing_page") ?>"><h3 class="sidebar-title"><img src="images/favicon-32x32.png" alt="Icon"> <?= $app_name ?></h3></a>
                    </div>
                    <?php foreach ($SideMenu as $cat_key => $cat) : ?>
                        <?php if (count($cat) == 1) : ?>
                            <h5 class="sidebar-title"><?= $cat_key ?></h5>
                            <div class="sidebar-divider"></div>
                            <a href="<?= $cat[0]['href'] ?>" class="sidebar-link <?php ($cat[0]['icon'] != null ? "sidebar-link-with-icon" : "") ?> <?= $cat[0]['is_active'] ?>">
                                <?php if ($cat[0]['icon'] != null) : ?>
                                    <span class = "sidebar-icon">
                                        <i class = "<?= $cat[0]['icon'] ?>" aria-hidden = "true"></i>
                                    </span>
                                <?php endif; ?>
                                <?= Lang::str($cat[0]['name']) ?>
                            </a>
                            <br />
                        <?php else: ?>
                            <h5 class="sidebar-title"><?= Lang::str($cat_key) ?></h5>
                            <div class="sidebar-divider"></div>
                            <?php foreach ($cat as $item) : ?>
                                <a href="<?= $item['href'] ?>" class="sidebar-link sidebar-link-with-icon <?= $item['is_active'] ?>">
                                    <?php if ($item['icon'] != null) : ?>
                                        <span class = "sidebar-icon">
                                            <i class = "<?= $item['icon'] ?>" aria-hidden = "true"></i>
                                        </span>
                                    <?php endif; ?>
                                    <?= Lang::str($item['name']) ?>
                                </a>
                            <?php endforeach; ?>
                            <br />

                        <?php endif; ?>
                    <?php endforeach; ?>

                    <!--Applications section in sidemenu-->
                    <?php if (isset($user['user_portal_id']) & $user['user_portal_id'] > 1) : ?>
                        <h5 class="sidebar-title"><?= Lang::str("Applications") ?></h5>
                        <div class="sidebar-divider"></div>
                        <span id="applications_side">
                            <?php if ($Applications != "Do via ajax") : ?>
                                <?php foreach ($Applications as $cat) : ?>
                                    <details class="collapse-panel" style="width: 90%;margin-left: 5%; margin-bottom: 5px">
                                        <summary class="collapse-header"><?= $cat[0]['group_name'] ?></summary>
                                        <div class="collapse-content">
                                            <?php foreach ($cat as $item) : ?>
                                                <a href="<?= $item['url'] ?>" class="sidebar-link" style="padding:0px; min-height: 0">

                                                    <?= ($item['name']) ?>
                                                </a>
                                            <?php endforeach; ?>
                                        </div>
                                    </details>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </span>
                        <br />
                    <?php endif; ?>
                    <!--END of applications section in sidemenu -->

                </div>
            </div>
            <!-- Sidebar end -->



            <!-- Content wrapper start -->
            <div class="content-wrapper">
                <!-- header text bar -->
                <?php if (SettingsUtils::gI()->getSett("APP", "app_header_text") != "null") : ?>
                    <div style="width: inherit; border: 3px solid black; background:#00ff1f4a; height: auto; text-align: center;
                         position: fixed; z-index: 9">
                        <strong>Special information:</strong>
                        <?= SettingsUtils::gI()->getSett("APP", "app_header_text") ?>
                    </div>
                    <div style="height:30px"></div>

                <?php endif; ?>

                <!-- END of header text bar -->

                <!-- Admin login bar -->
                <?php if ($_SESSION['system']['adminlogin']['isActive']) : ?>
                    <div style="width: inherit; border: 3px solid black; background:#1a46e34a; height: auto; text-align: center;
                         position: fixed; z-index: 9">
                        <strong>AdminLogin</strong> active (<font color="red">User name: <?= $user['login_name'] ?>; id:
                        <?= $user['user_internal_id'] ?></font>)
                        Admin name: <?= $_SESSION['system']['adminlogin']['admin']['login_name'] ?> <a href="login/adminlogin/logback">End Admin session</a>
                    </div>
                    <div style="height:30px"></div>
                <?php endif; ?>

                <!-- END of admin login bar -->

                <?php if (isset($messages)) : ?>

                    <div class = "container pl-20 pr-20 pt-10">
                        <?php foreach ($messages as $msg) :
                            ?>
                            <div class="alert my-10 alert-<?= $msg['color'] ?>" role="alert">
                                <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <?php if (isset($msg['head'])) : ?>
                                    <h4 class="alert-heading"><?= $msg['head'] ?></h4>
                                <?php endif; ?>
                                <?= $msg['message'] ?>
                                <?php if ($msg['url'] != null) : ?>
                                    <a href="<?= $msg['url'] ?>">Go to <?= $msg['url'] ?></a>
                                <?php endif; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="container-fluid">

                    <?php $this->controler->renderView(); // insert view to template    ?>

                </div>

                <!-- Navbar fixed bottom  -->
                <nav class="navbar navbar-static-bottom">
                    <span class="navbar-text">
                        <select class="form-control" id="lang_selector" onchange="changeLang()">
                            <?php foreach (Lang::getLangs() as $lang) : ?>
                                <option <?php if (Lang::getLang() == $lang) echo('selected'); ?>><?= $lang ?></option>
                            <?php endforeach; ?>
                        </select>
                    </span>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="https://<?= SUPPORTSERVER ?>/new/question/<?= APPCODE ?>" class="nav-link">
                                <i class="fa fa-question-circle-o mr-5" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="navbar-text"><small>
                            <?= Lang::str("Version"); ?> <?= APPVERSION ?> / <?= Lang::str("CORE version"); ?> <?= MASTERVERSION ?> © 2020-2021 <?= SESSIONDOMAIN ?>; <?= Lang::str("Generated at:") . " " . date("Y-m-d H:i:s") ?>
                        </small>
                    </span>

                </nav>
                <!-- Navbar fixed bottom end -->

            </div>
            <!-- Content wrapper end -->


        </div>
        <!-- Page wrapper end -->

        <!-- Halfmoon JS -->
        <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.1.1/js/halfmoon.min.js"></script>
        <script type="text/javascript">
                            function addNotification(Content, Title, type = "danger", timeShown = 5000, hasDismiss = true, filed = "filled") {
                                var alertContent = "This is another alert with <a href='#' class='alert-link'>a link</a> being toasted.";
                                // Built-in function
                                halfmoon.initStickyAlert({
                                    content: Content, // Required, main content of the alert, type: string (can contain HTML)
                                    title: Title, // Optional, title of the alert, default: "", type: string
                                    alertType: "alert-" + type, // Optional, type of the alert, default: "", must be "alert-primary" || "alert-success" || "alert-secondary" || "alert-danger"
                                    fillType: filed, // Optional, fill type of the alert, default: "", must be "filled-lm" || "filled-dm" || "filled"
                                    hasDismissButton: hasDismiss, // Optional, the alert will contain the close button if true, default: true, type: boolean
                                    timeShown: timeShown             // Optional, time the alert stays on the screen (in ms), default: 5000, type: number
                                })
                            }

                            function getApplications() {

                                $.getJSON("ajax/get/local/applications")
                                        .done(function (result) {
                                            if (result.status === "success") {
                                                var data1 = '';
                                                var data2 = '';
                                                for (var key in result.data) {
                                                    var cat = result.data[key];
                                                    data1 += '<h6 class="dropdown-header text-center"><strong><span class="badge">' + cat[0].group_name + '</span></strong></h6><div class="dropdown-divider"></div>';
                                                    data2 += '<details class="collapse-panel" style="width: 90%;margin-left: 5%; margin-bottom: 5px"><summary class="collapse-header">' + cat[0].group_name + '</summary><div class="collapse-content">';
                                                    for (var item of cat) {
                                                        data1 += '<a href="' + item.url + '" class="dropdown-item">' + item.name + '</a>';
                                                        data2 += '<a href="' + item.url + '" class="sidebar-link" style="padding:0px; min-height: 0">' + item.name + '</a>'
                                                    }
                                                    data1 += '<div class="dropdown-divider"></div>';
                                                    data2 += '</div></details>';
                                                }
                                                $('#applications').append(data1);
                                                $('#applications_side').append(data2);
                                            }
                                        })

                                        .fail(function (jqxhr, textStatus, error) {
                                            var err = textStatus + ", " + error;
                                            console.log("Request Failed: " + err);
                                        });
                            }
                            function moveModals() {
                                var modals = document.getElementsByClassName("modal");
                                var pos = document.getElementById("modal_section");
                                for (index = 0, len = modals.length; index < len; ++index) {
                                    pos.appendChild(modals[index]);
                                }
                            }
                            moveModals();
                            function changeLang(event) {
                                addNotification("New lang: " + $('#lang_selector option:selected').text(), "<?= Lang::str("Lang") ?>", "primary")
                                var jqxhr = $.get("ajax/set/local/lang/" + $('#lang_selector option:selected').text(), function () {

                                })
                                        .done(function () {
                                            addNotification("<?= Lang::str("Lang change has been successful") ?>", "<?= Lang::str("Lang") ?>", "success");
                                            addNotification("<?= Lang::str("Page is reloading!") ?>", "<?= Lang::str("Page reload") ?>", "primary", 200000, false, "");
                                            location.reload();
                                        })
                                        .fail(function () {
                                            addNotification("<?= Lang::str("Something went wrong") ?>", "<?= Lang::str("Lang") ?>", "danger", 20000);
                                        }
                                        );
                            }
<?php if ($_SESSION['system']['user']['logged_in']): ?>
                                setTimeout(function () {
                                    addNotification("<?= Lang::str("Your session will expire soon") ?>.", "<?= Lang::str("Session expiration") ?>", "secondary", 900000)
                                }, (<?= $_SESSION['system']['user']['session_expire'] ?> * 1000 - Date.now() - 180000));
                                setTimeout(function () {
                                    window.location.replace("logout");
                                }, (<?= $_SESSION['system']['user']['session_expire'] ?> * 1000 - Date.now()));
<?php endif; ?>
        </script>
        <!--Google login -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    </body>

</html>

<style>
    .btn[data-count]:after{
        position:absolute;
        top:10%;
        content: attr(data-count);
        font-size:60%;
        padding:.5em;
        border-radius:999px;
        line-height:.75em;
        color: white;
        background:rgba(100,200,200,.85);
        text-align:center;
        min-width:2em;
        font-weight:bold;
    }
    a, button{
        -webkit-appearance: none!important;
        -moz-appearance: none!important;
        appearance: none!important;
    }
    .jodit_wysiwyg{
        color: black;
    }
</style>


