
<!DOCTYPE html>
<html>
    <head>
        <base href="/<?= SESSIONDOMAIN ?>" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, , shrink-to-fit=no">
        <title><?= $title ?></title>

        <link rel="stylesheet" href="https://cdn.topescape.cz/master/<?= MASTERFOLDER ?>/css/master.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="https://cdn.topescape.cz/master/<?= MASTERFOLDER ?>/js/master.js"></script>
        <script src="js/script.js"></script>
        <link rel='icon' href='images/favicon.ico' type='image/x-icon' />
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="dashBoard">
                    <img src="images/logo.png"
                         height="50">
                </a>
                <?php if (isset($user)) : ?>

                    <a class="navbar-item" onclick="toggle_notifications();">
                        <span class="icon is-small" data-count="10">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </a>
                    <div class="dropdown" id="notifications">

                        <div class="dropdown-menu" role="menu" style="    overflow: auto;
                             max-height: 300px;
                             ">
                            <div class="dropdown-content">

                                <div class="dropdown-item">
                                    <?php for ($i = 0; $i < 10; $i++) : ?>
                                        <article class="media" style="width:400px">
                                            <figure class="media-left">
                                                <p class="image is-32x32">
                                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <strong>Jakub</strong> <small>@</small> <small><?= $i ?>m</small>
                                                        <br>
                                                        Lorem ipsum dolor sit amet,
                                                    </p>
                                                </div>
                                                <!--
                                                <nav class="level is-mobile">
                                                    <div class="level-left">
                                                        <a class="level-item">
                                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                                        </a>
                                                        <a class="level-item">
                                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                                        </a>
                                                        <a class="level-item">
                                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                                        </a>
                                                    </div>
                                                </nav>
                                                -->
                                            </div>
                                            <div class="media-right">
                                                <!--<button class="delete"></button>-->
                                            </div>
                                        </article>
                                    <?php endfor; ?>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <!-- <div class="notifications" >
                     <div class="notification">
                         <div class="notification-time">12h ago</div>
                         <div class="notification-timestamp">13.8.2020</div>
                         <div class="notification-avatar"><img src="https://login.innogames.de/avatar/kubina/f3ce0a82857ebe0c38a2b9c42305f527d6ca312ada7dcf09a7cf9f92ee25cefe.jpg" alt="avatar" /></div>
                         <div class="notification-content">This is a test notification</div>
                     </div>

                 </div>-->
            <?php endif; ?>

            <a class="navbar-item" href="https://<?= LDAPSERVER ?>">
                <span class="icon is-small">
                    <i class="fas fa-fingerprint"></i>
                </span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample" onclick="changeMenuVisibility()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" href="dashBoard">
                    <?= Lang::str("DashBoard"); ?>
                </a>
                <?php if (isset($user)) : ?>
                    <a class="navbar-item" href="profile">
                        <?= Lang::str("Profile"); ?>
                    </a>

                    <a class="navbar-item" href="admin">
                        <?= Lang::str("Admin"); ?>
                    </a>
                <?php endif; ?>
                <?php foreach ($menu as $polozky) : ?>
                    <?php if (isset($polozky['dropdown'])) : ?>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="<?= $polozky['adress'] ?>">
                                <?= Lang::str($polozky['name']); ?>
                            </a>

                            <div class="navbar-dropdown">
                                <?php foreach ($polozky['dropdown'] as $menu1) : ?>
                                    <?php if (isset($menu1['divider'])) : ?>
                                        <hr class="navbar-divider">
                                    <?php endif; ?>
                                    <a class="navbar-item" href="<?= $menu1['adress'] ?>">
                                        <?= Lang::str($menu1['name']); ?>
                                    </a>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    <?php else : ?>
                        <a class="navbar-item" href="<?= $polozky['adress'] ?>">
                            <?= Lang::str($polozky['name']); ?>
                        </a>
                    <?php endif; ?>
                <?php endforeach; ?>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <?php if (isset($user)) : ?>

                            <a class="button is-primary" href="logout">
                                <strong><?= Lang::str("Logout"); ?></strong>
                            </a>
                        <?php else: ?>
                            <a class="button is-primary" href="login">
                                <strong><?= Lang::str("Login"); ?></strong>
                            </a>
                        <?php endif; ?>
                        <span class="tag">
                            <?php if (isset($user)) : ?>

                                <small><?= Lang::str("User"); ?>: </small> <strong><?= $user['login_name'] ?></strong>

                            <?php else : ?>
                                <small class="has-text-danger"><?= Lang::str("No user logged in"); ?> </small>
                            <?php endif; ?>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">

        <?php if ($_SESSION['adminlogin']['isActive']) : ?>
            <div style="width: 100%; border: 3px solid black; background:#E37B1A; height: auto; text-align: center">
                AdminLogin active (<font color="green">User name: <?= $user['login_name'] ?>; id:
                <?= $user['internal_id'] ?></font>)
                Admin name: <?= $_SESSION['adminlogin']['data']['login_name'] ?> <a href="login/adminlogin/logback">Odhlásit</a></div>
        <?php endif; ?>
        <div id="alerts">
            <?php foreach ($messages as $message) : ?>

                <div class="notification is-<?= $message['color'] ?>">
                    <button class="delete"></button>
                    <?= $message['message'] ?>
                </div>

            <?php endforeach ?>
        </div>
        <div class="container">
            <?php $this->controler->renderView(); // vložení aktuálního pohledu do šablony ?>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <?= Lang::str("Version"); ?> <?= APPVERSION ?> / <?= Lang::str("CORE version"); ?> <?= MASTERVERSION ?> © 2020 <?= SESSIONDOMAIN ?>;
            </p>
            <p>
                <select id="lang_selector" onchange="changeLang()">
                    <?php foreach (Lang::getLangs() as $lang) : ?>
                        <option <?php if (Lang::getLang() == $lang) echo('selected'); ?>><?= $lang ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
        </div>
    </footer>
</body>
</html>

<script>
    function changeLang(event) {
        addNotification("New lang: " + $('#lang_selector option:selected').text(), "primary")
        var jqxhr = $.get("ajax/set/local/lang/" + $('#lang_selector option:selected').text(), function () {

        })
                .done(function () {
                    addNotification("Lang change has been successful", "success");
                    location.reload();

                })
                .fail(function () {
                    addNotification("Something went wrong", "danger");
                }
                );
    }

    function toggle_notifications() {
        document.getElementById("notifications").classList.toggle("is-active");
    }
</script>
<style>
    .icon[data-count]:after{
        position:absolute;
        right:0%;
        top:10%;
        content: attr(data-count);
        font-size:60%;
        padding:.5em;
        border-radius:999px;
        line-height:.75em;
        color: white;
        background:rgba(100,200,200,.85);
        text-align:center;
        min-width:2em;
        font-weight:bold;
    }
</style>
