<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <?php foreach (array_keys($universals[0]) as $thead) : ?>
                    <th><?= Lang::str($thead) ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($universals as $universal) : ?>
                <tr>
                    <?php foreach ($universal as $key => $cell) : ?>
                        <?php if (in_array($key, $universal_params)) : ?>
                            <th>
                                <a href="<?= $universal_params[$key] ?>/<?= $cell ?>">
                                    <?= $cell ?></a>
                            </th>
                        <?php else: ?>
                            <td><?= $cell ?></td>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
            <?php endforeach; ?>
        </tbody>

    </table>
</div>
<?php if ($universal_params['settings_new']['enable']) : ?>
    <a class="button is-success is-small"
       href=" <?= $universal_params['settings_new']['url'] ?>/new">
           <?= Lang::str("Add new") ?>
    </a>
<?php endif; ?>

