<form method="POST">
    <input type="hidden" name="csrf" value="<?= $csrf ?>" />
    <?php foreach ($universals as $key => $value) : ?>
        <?php if (in_array($key, $vissible) || $vissible == null) : ?>
            <div class="form-group">
                <label for="<?= $key ?>"
                       class="<?php if (in_array($key, $universal_params['editable'])) : ?>
                           required
                       <?php endif; ?>
                       "><?= $key ?></label>
                <input type="text" required class="form-control" id="<?= $key ?>" name="<?= $key ?>"
                       value="<?= $value ?>"
                       <?php if (!in_array($key, $universal_params['editable'])) : ?>
                           readonly
                       <?php endif; ?>
                       />
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php if (count($universal_params['editable']) > 0): ?>
        <input type="submit" class="btn btn-success" value="<?= Lang::str("Save") ?>" />
    <?php endif; ?>
</form>