<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Admin profile edit"); ?>
        </h1>
        <?php if ($user_edit['disabled_account']) : ?>
            <span class="font-size-22 badge badge-danger"><?= Lang::str("Account is disabled!"); ?></span>
        <?php endif; ?>
        <?php if ($user_edit['user_internal_id'] < 10) : ?>
            <span class="font-size-22 badge badge-secondary"><?= Lang::str("System account!"); ?></span>
        <?php endif; ?>
        <div class="row">
            <input type="hidden" name="csrf" value="gercfnaws,ů" />
            <div class="col-lg-6">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-edit"></i>
                        <?= Lang::str("Personal informations"); ?>
                    </h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="user_id"><?= Lang::str("User id"); ?></label>
                                <input type="number" class="form-control" id="user_id" value="<?= $user_edit['user_internal_id'] ?>">
                            </div>
                            <div class="form-group">
                                <label for="user_portal_id"><?= Lang::str("User portal id"); ?></label>
                                <input type="number" class="form-control" id="user_portal_id" value="<?= $user_edit['user_portal_id'] ?>">
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <?= Lang::str("Avatar"); ?>
                            <img
                                src="<?= $user_edit['avatar'] ?>" class="img-fluid m-10 pr-20" alt="User avatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_name"><?= Lang::str("Username"); ?></label>
                        <input required type="text" class="form-control" id="login_name" readonly value="<?= $user_edit['login_name'] ?>">
                    </div>
                    <?php if ($user_edit['origin'] == "ldap" || $user_edit['origin'] == "system") : ?>
                        <div class="form-group">
                            <label ><?= Lang::str("Email"); ?>l</label>
                            <input class="form-control" type="email" required  value="<?= $user_edit['mail'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Nickname"); ?></label>
                            <input class="form-control" name="nickname" required type="text" value="<?= $user_edit['nickname'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Locale"); ?></label>
                            <input class="form-control" name="locale" required type="text" value="<?= $user_edit['locale'] ?>">
                        </div>
                        <span class="badge"><?= Lang::str("Personal info can be chnage only on portal!"); ?></span>
                    <?php else: ?>
                        <form method="POST" action="admin/<?= $URL_params[0] ?>/update_profile">
                            <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                            <div class="form-group">
                                <label ><?= Lang::str("Email"); ?>l</label>
                                <input class="form-control" name="email" type="email" required  value="<?= $user_edit['mail'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Nickname"); ?></label>
                                <input class="form-control" name="nickname" type="text" value="<?= $user_edit['nickname'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Locale"); ?></label>
                                <input class="form-control" name="locale" required type="text" value="<?= $user_edit['locale'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Real name"); ?></label>
                                <input class="form-control" name="real_name"  type="text" value="<?= $user_data['real_name'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Telephone"); ?></label>
                                <input class="form-control" name="phone"  type="tel" value="<?= $user_data['phone'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Address"); ?></label>
                                <input class="form-control" name="address"  type="text" value="<?= $user_data['address'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Country"); ?></label>
                                <input class="form-control" name="country"  type="text" value="<?= $user_data['country'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("City"); ?></label>
                                <input class="form-control" name="city"  type="text" value="<?= $user_data['city'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Company"); ?></label>
                                <input class="form-control" name="company"  type="text" value="<?= $user_data['company'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Gender"); ?></label>
                                <input class="form-control" name="gender"  type="text" value="<?= $user_data['gender'] ?>">
                            </div>
                            <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Save") ?>" />
                        </form>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col-lg-6">
                <?php if (USINGDEPARTMENTS && $user_edit['user_internal_id'] > 9) : ?>
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-sliders-h"></i>
                            <?= Lang::str("User departements"); ?>

                        </h2>
                        <div class="table-responsive">
                            <table class="table table-hover">

                                <tbody>
                                    <?php if (count($departemnts) == 0) : ?>
                                    <span class="badge"><?= Lang::str("User has no department") ?></span>
                                <?php else: ?>
                                    <?php foreach ($departemnts as $dep) : ?>
                                        <tr>
                                            <td>
                                                <strong><?= $dep['department_name'] ?></strong>
                                                <small>(<?= $dep['department_code'] ?>)</small>
                                                <?php $assigned_departements[] = $dep['department_code']; ?>

                                            </td>
                                            <td>
                                                <form method="POST" action="admin/<?= $URL_params[0] ?>/change_role" style="width:150px">
                                                    <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                                                    <input type="hidden" name="department_id" value="<?= $dep['department_id'] ?>" />
                                                    <select class="form-control"  name="admin_level">
                                                        <option disabled value="-1" <?= ($user_edit['admin_level'] == -1 ? "selected" : "") ?>><?= Lang::str("System") ?></option>
                                                        <option value="0" <?= ($dep['user_role'] == 0 ? "selected" : "") ?>><?= Lang::str("Guest") ?></option>
                                                        <option value="1"  <?= ($dep['user_role'] == 1 ? "selected" : "") ?>><?= Lang::str("Member") ?></option>
                                                        <option value="2"  <?= ($dep['user_role'] == 2 ? "selected" : "") ?>><?= Lang::str("Admin") ?></option>
                                                        <option value="3"  <?= ($dep['user_role'] == 3 ? "selected" : "") ?>><?= Lang::str("Head") ?></option>
                                                        <option value="4"  <?= ($dep['user_role'] == 4 ? "selected" : "") ?>><?= Lang::str("Developer") ?></option>
                                                        <option value="5"  <?= ($dep['user_role'] > 4 ? "selected" : "") ?>><?= Lang::str("Master developer") ?></option>
                                                    </select>
                                                </form>
                                            </td>
                                            <td>
                                                <small>
                                                    <a href="admin/<?= $URL_params[0] ?>/remove_departement/<?= $dep['department_id'] ?>"
                                                       class="btn btn-sm btn-danger"><?= Lang::str("Remove"); ?></a>
                                                </small>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                        <h3 class="card-title"><?= Lang::str("Add departement"); ?></h3>
                        <form method="POST" action="admin/<?= $URL_params[0] ?>/add_departement">
                            <label ><?= Lang::str("Select departments"); ?></label>
                            <select class="form-control" required name="departmets">
                                <option selected disabled readonly><?= lang::str("Select"); ?></option>
                                <?php foreach ($all_departments as $dep) : ?>
                                    <?php if (in_array($dep['department_code'], $assigned_departements)) continue; ?>
                                    <option value="<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?> (<?= $dep['department_code'] ?>)</option>
                                <?php endforeach; ?>

                            </select>
                            <label ><?= Lang::str("Select role"); ?></label>
                            <select class="form-control" required name="role">
                                <option selected disabled readonly><?= lang::str("Select"); ?></option>
                                <?php foreach ($roles as $key => $role) : ?>
                                    <option value="<?= $key ?>"><?= $role ?></option>
                                <?php endforeach; ?>

                            </select>
                            <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Asssign") ?>" />
                        </form>
                    </div>
                <?php endif; ?>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("Rights"); ?>
                    </h2>
                    <form method="POST">
                        <div class="form-group">

                            <label class="label"><?= Lang::str("Admin role"); ?></label>
                            <select class="form-control" id="admin_level" name="admin_level" readonly>
                                <option disabled value="-1" <?= ($user_edit['admin_level'] == -1 ? "selected" : "") ?>><?= Lang::str("System") ?></option>
                                <option value="0" <?= ($user_edit['admin_level'] == 0 ? "selected" : "") ?>><?= Lang::str("Guest") ?></option>
                                <option value="1"  <?= ($user_edit['admin_level'] == 1 ? "selected" : "") ?>><?= Lang::str("Member") ?></option>
                                <option value="2"  <?= ($user_edit['admin_level'] == 2 ? "selected" : "") ?>><?= Lang::str("Admin") ?></option>
                                <option value="3"  <?= ($user_edit['admin_level'] == 3 ? "selected" : "") ?>><?= Lang::str("Head") ?></option>
                                <option value="4"  <?= ($user_edit['admin_level'] == 4 ? "selected" : "") ?>><?= Lang::str("Developer") ?></option>
                                <option value="5"  <?= ($user_edit['admin_level'] > 4 ? "selected" : "") ?>><?= Lang::str("Master developer") ?></option>
                            </select>
                        </div>

                        <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                        <?php foreach ($rights as $key => $value) : ?>
                            <label class="checkbox">
                                <strong><?= $key ?></strong>
                                <?php foreach ($value as $key1 => $val) : ?>
                                    <label class="checkbox">
                                        <input type="checkbox"
                                        <?php if ($val['value'] > 0) : ?>
                                                   checked
                                               <?php endif; ?>

                                               name="admin::<?= $val['name'] ?>::<?= $val['sub_right'] ?>"
                                               <?php if ($val['granteable'] == 0 && $only_granteable) : ?>
                                                   disabled
                                               <?php endif; ?>
                                               >
                                               <?= $val['sub_right'] ?>
                                    </label>

                                <?php endforeach; ?>
                                <br />
                            </label>
                            <br />
                        <?php endforeach; ?>
                        <?php if ($user_edit['user_internal_id'] > 9) : ?>
                            <input class="btn btn-success" type="submit" value="<?= Lang::str("Save") ?>" />
                            <a class="btn btn-danger" href="admin/<?= $user_edit['user_internal_id'] ?>/rebase_rules"><?= Lang::str("Rebase rules"); ?></a>
                            <a class="btn " href="admin/<?= $user_edit['user_internal_id'] ?>/create_login_token"><?= Lang::str("Create login token"); ?></a>
                            <a class="btn btn-primary " href="admin/<?= $user_edit['user_internal_id'] ?>/admin_login"><?= Lang::str("Log in as this user"); ?></a>
                            <?php if ($user_edit['disabled_account']): ?>
                                <a class="btn btn-success " href="admin/<?= $user_edit['user_internal_id'] ?>/activate_account"><?= Lang::str("Activate account"); ?></a>
                            <?php else: ?>
                                <a class="btn btn-danger " href="admin/<?= $user_edit['user_internal_id'] ?>/deactivate_account"><?= Lang::str("Disable account"); ?></a>
                            <?php endif; ?>
                        <?php endif; ?>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    <?= Lang::str("Active sessions"); ?>
                </h2>
                <a class="btn btn-danger" href="admin/<?= $URL_params[0] ?>/disable_sessions"><?= Lang::str("Disable all user sessions") ?></a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($sessions[0]) as $thead) : ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($sessions as $sess) : ?>
                                <tr class="
                                <?php if ($sess['sess_expire'] < time() || $sess['valid'] == 0): ?>
                                        table-danger
                                    <?php else : ?>
                                        table-success
                                    <?php endif; ?>
                                    ">
                                        <?php foreach ($sess as $key => $cell) : ?>
                                            <?php if ($key === "sess_id") : ?>
                                            <th><a href="admin/<?= $URL_params[0] ?>/disable_session/<?= $cell ?>"><?= Lang::str("Kill session") ?></a></th>
                                        <?php elseif ($key === "sess_token") : ?>
                                            <td><?= substr($cell, 0, 7); ?>
                                                <?php if ($cell == $_COOKIE[SESSIONID]) : ?>

                                                <?php endif; ?>

                                            </td>
                                        <?php elseif ($key === "sess_expire") : ?>
                                            <td><?= date("Y-m-d H:i:s", $cell) ?></td>
                                        <?php else: ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <a href="admin/<?= $URL_params[0] ?>/disable_sessions"><?= Lang::str("Disable all user sessions") ?></a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    <?= Lang::str("Active tokens"); ?>
                </h2>
                <a class="btn btn-danger" href="admin/<?= $URL_params[0] ?>/disable_tokens"><?= Lang::str("Disable all user tokens") ?></a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($tokens[0]) as $thead) : ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($tokens as $sess) : ?>
                                <tr class="
                                <?php if (($sess['token_expire']) < time()): ?>
                                        table-danger
                                    <?php else : ?>
                                        table-success
                                    <?php endif; ?>
                                    ">
                                        <?php foreach ($sess as $key => $cell) : ?>
                                            <?php if ($key === "token_id") : ?>
                                            <th><a href="admin/<?= $URL_params[0] ?>/disable_token/<?= $cell ?>"><?= Lang::str("Disable token") ?></a></th>
                                        <?php elseif ($key === "token_value") : ?>
                                            <td><?= substr($cell, 0, 10); ?>
                                                <?php if ($cell == $_COOKIE[SESSIONID]) : ?>

                                                <?php endif; ?>

                                            </td>

                                        <?php else: ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <a  href="admin/<?= $URL_params[0] ?>/disable_tokens"><?= Lang::str("Disable all user tokens") ?></a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var elements = document.getElementsByName("admin_level");
        for (var element of elements) {
            console.log(element);
            element.addEventListener("change", Department_admin_level);
        }
    })
    var test;
    function Department_admin_level(e) {
        test = e.target.parentElement.submit();
    }
</script>