<div class="container-fluid">

    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Admins"); ?>
        </h1>
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><?= Lang::str("Id") ?></th>
                            <th><?= Lang::str("Portal id") ?></th>
                            <th><?= Lang::str("Login_name") ?></th>
                            <td></td>
                            <th><?= Lang::str("Nickname") ?></th>
                            <th><?= Lang::str("Mail") ?></th>
                            <th><?= Lang::str("Admin_level") ?></th>
                            <th><?= Lang::str("Locale") ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($users as $usr) : ?>
                            <tr class="
                            <?php if ($usr['user_internal_id'] < 10): ?>
                                    table-secondary
                                <?php elseif ($usr['disabled_account'] == 1): ?>
                                    table-danger
                                <?php elseif ($usr['admin_level'] > 3): ?>
                                    table-primary
                                <?php endif; ?>
                                ">
                                <th><?php if ($usr['user_internal_id'] > 9): ?>
                                        <a href="admin/<?= $usr['user_internal_id'] ?>">
                                        <?php endif; ?><?= $usr['user_internal_id'] ?></a></th>
                                <th><a href="https://<?= LDAPSERVER ?>/admin/<?= $usr['user_portal_id'] ?>"><?= $usr['user_portal_id'] ?></a></th>
                                <td><?= $usr['login_name'] ?> </td>
                                <td><?= ($usr['avatar'] != null ? "<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                   class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" ) ?></td>
                                <td><?= $usr['nickname'] ?></td>

                                <td><?= $usr['mail'] ?></td>
                                <td><?= $usr['admin_level'] ?></td>
                                <td><?= $usr['locale'] ?></td>

                            </tr>
                        <?php endforeach; ?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


